<h3>Loan Cycles</h3>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>

    {% for lc in loan_cycles %}
        <tr>
            <td><a href="/circulation/entities/loan_cycle/{{lc.id}}">{{lc.id}}</a></td>
            <td>{{lc.user.name}}</td>
            <td>{{lc.current_status}}</td>
            <td>{{lc.start_date}}</td>
            <td>{{lc.end_date}}</td>
        </tr>
    {% endfor %}
</table>
