<h1>Latest loans</h1>

<table>
  <tr>
    <th>Borrower</th>
    <th>Item</th>
    <th>Barcode</th>
    <th>Loaned on</th>
    <th>Due date</th>
    <th>Renewals</th>
    <th>Overdue letters</th>
    <th>Loan notes</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="item in items">
    <td>Borrower</td>
    <td>Item</td>
    <td>Barcode</td>
    <td>Loaned on</td>
    <td>Due date</td>
    <td>Renewals</td>
    <td>Overdue letters</td>
    <td>Loan notes</td>
    <td>Send recall</td>
  </tr>
</table>
