{{!
  This file is part of Invenio.
  Copyright (C) 2015 CERN.

  Invenio is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of the
  License, or (at your option) any later version.

  Invenio is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Invenio; if not, write to the Free Software Foundation, Inc.,
  59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
}}

{{#entities}}
    <div class="panel panel-default" id="mail_template_{{id}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <a href="/circulation/entities/mail_template/{{id}}">{{id}}</a>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-block entity_delete" id="delete_{{id}}">Delete</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">Template Name</div>
                <div class="col-md-10">{{template_name}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Subject</div>
                <div class="col-md-10">{{subject}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Header</div>
                <div class="col-md-10">{{header}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Content</div>
                <div class="col-md-10">{{content}}</div>
            </div>
        </div>
    </div>
{{/entities}}
