{% macro test(param) -%}
    {{param}} + yay :)
{%- endmacro %}

{%- macro date_selection(start_date, end_date, data=None, range=None, date_warnings=None) -%}
    <div id="circulation_dates" class="panel panel-default">
        <div class="panel-heading">Dates</div>
        <div class="panel-body">
            {{ warnings(date_warnings) }}
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" id="circulation_date_from" type="text" value="{{start_date}}">
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="circulation_date_to" type="text" value="{{end_date}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="cal-heatmap" data-cal_data="{{data}}" data-cal_range="{{range}}"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{%- macro options(waitlist_enable=False, waitlist=None, delivery_enable=False, delivery=None) -%}
    <div class="panel panel-default">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
            <ul class="list-inline">
                {% if waitlist_enable %}
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="circulation_option" id="circulation_option_waitlist" data-checked="{{waitlist}}">Waitlist
                        </label>
                    </div>
                </li>
                {% endif %}
                {% if delivery_enable %}
                <li>
                    <div class="form-group">
                        <select class="form-control circulation_option" id="circulation_option_delivery" data-val="{{delivery}}">
                            <option>Pick up</option>
                            <option>Internal Mail</option>
                        </select>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}

{%- macro editor(editor_data, editor_schema, suggestions_config='null') -%}
    <div id="entity_detail" data-editor_data='{{editor_data}}' data-editor_schema="{{editor_schema}}" data-suggestions_config="{{suggestions_config}}"></div>
{% endmacro %}

{%- macro warnings(warnings) -%}
    {% if warnings %}
    <div class="circulation_alert alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-unstyled">
        {% for category, message in warnings %}
            <li>{{category}}: {{message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}


{%- macro description_modal(id, title, modal_attributes) -%}
    <div class="modal fade modal_form" id="{{id}}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 id="description_modal_title" class="modal-title">{{title}}</h4>
                  </div>
                  <div class="modal-body">
                        {% for attr, name in modal_attributes %}
                        <div class="col-md-12">
                            <textarea class="form-control modal_value" data-modal_attr="{{attr}}" type="text" placeholder="{{name}}"></textarea>
                        </div>
                        {% endfor %}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                      <button type="button" class="btn btn-default modal_submit">OK</button>
                  </div>
            </div>
        </div>
    </div>

{%- endmacro -%}
