{% macro test(param) -%}
    {{param}} + yay :)
{%- endmacro %}

{%- macro loan_cycle_loan(lc) -%}
    <div class="panel panel-default" id="item_{{lc.item.id}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <a href="/circulation/entities/item/{{lc.item.id}}">{{lc.item.id}}</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">Title</div>
                <div class="col-md-6">{{lc.item.record.title}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Start Date</div>
                <div class="col-md-6">{{lc.start_date}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">End Date</div>
                <div class="col-md-6">{{lc.end_date}}</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-default btn-block user_action" id="extension_button_{{lc.id}}" data-type="clc" data-clc_id="{{lc.id}}" data-item_id="{{lc.item.id}}" data-action="extension">EXTEND LOAN</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-default btn-block user_action" id="lose_button_{{lc.item.id}}" data-type="item" data-clc_id="{{lc.id}}" data-item_id="{{lc.item.id}}" data-action="extension">REPORT LOSS</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{%- macro loan_cycle_request(lc) -%}
    <div class="panel panel-default" id="item_{{lc.item.id}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <a href="/circulation/entities/item/{{lc.item.id}}">{{lc.item.id}}</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">Title</div>
                <div class="col-md-6">{{lc.item.record.title}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Start Date</div>
                <div class="col-md-6">{{lc.start_date}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">End Date</div>
                <div class="col-md-6">{{lc.end_date}}</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-default btn-block user_action" id="cancel_button_{{lc.id}}" data-type="clc" data-clc_id="{{lc.id}}">CANCEL REQUEST</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{%- macro user(user) -%}
    <div class="panel panel-default" id="user_{{user.id}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <a href="/circulation/entities/user/{{user.id}}">User {{user.id}}</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">CCID</div>
                <div class="col-md-10">{{user.ccid}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Name</div>
                <div class="col-md-10">{{user.name}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Email</div>
                <div class="col-md-10">{{user.email}}</div>
            </div>
        </div>
    </div>
{% endmacro %}

{%- macro record(record) -%}
    <div class="panel panel-default" id="record_{{record.id}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <a href="/circulation/entities/record/{{record.id}}">Record {{record.id}}</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">Title</div>
                <div class="col-md-10">{{record.title}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Authors</div>
                <div class="col-md-10">
                    <ul class="list-unstyled"> 
                        {% for author in record.authors %}
                            <li>{{author}}</li> 
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">Items:</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for item in record._items %}
                        <div class="row">
                            <div class="col-md-2">
                                {{item.item.barcode}}
                            </div>
                            <div class="col-md-1">
                                {{item.item.current_status}}
                            </div>
                            <div class="col-md-2">
                                {{item.item.volume}}
                            </div>
                            <div class="col-md-2">
                                {{item.item.shelf_number}}
                            </div>
                            <div class="col-md-2">
                                {% if item.request%}
                                    <button type="button" class="btn btn-block btn-success user_action" id="request_button_{{item.item.id}}" data-type="item" data-user_id="{{user.id}}">REQUEST</button>
                                {% else %}
                                    <button type="button" class="btn btn-block btn-danger user_action" id="request_button_{{item.item.id}}" disabled="true" data-type="item" data-user_id="{{user.id}}">REQUEST</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{%- macro date_selection(start_date, end_date, data=None, range=None, date_warnings=None) -%}
    <div id="circulation_dates" class="panel panel-default">
        <div class="panel-heading">Dates</div>
        <div class="panel-body">
            {{ warnings(date_warnings) }}
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" id="circulation_date_from" type="text" value="{{start_date}}">
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="circulation_date_to" type="text" value="{{end_date}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="cal-heatmap" data-cal_data="{{data}}" data-cal_range="{{range}}"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{%- macro options(waitlist_enable=False, waitlist=None, delivery_enable=False, delivery=None) -%}
    <div class="panel panel-default">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
            <ul class="list-inline">
                {% if waitlist_enable %}
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="circulation_option" id="circulation_option_waitlist" data-checked="{{waitlist}}">Waitlist
                        </label>
                    </div>
                </li>
                {% endif %}
                {% if delivery_enable %}
                <li>
                    <div class="form-group">
                        <select class="form-control circulation_option" id="circulation_option_delivery" data-val="{{delivery}}">
                            <option>Pick up</option>
                            <option>Internal Mail</option>
                        </select>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}

{%- macro editor(editor_data, editor_schema, suggestions_config='null') -%}
    <div id="entity_detail" data-editor_data='{{editor_data}}' data-editor_schema="{{editor_schema}}" data-suggestions_config="{{suggestions_config}}"></div>
{% endmacro %}

{%- macro warnings(warnings) -%}
    {% if warnings %}
    <div class="circulation_alert alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-unstyled">
        {% for category, message in warnings %}
            <li>{{category}}: {{message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}
